<!-- sx5_project/templates/info/contact.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="info">
        <h2>Social Media</h2>
        <p>We are on a variety of social media platforms:
        <br>
        <a href="https://www.facebook.com/acorntrails" target="_blank">Facebook</a>
        <br>
        <a href="https://twitter.com/AcornTrailsUK" target="_blank">Twitter</a>
        <br>
        <a href="https://www.instagram.com/acorntrails/" target="_blank">Instagram</a>
        <br>
        <a href="https://www.strava.com/clubs/acorntrails" target="_blank">Strava</a></p>
    </div>

    <div class="info">
        <h2>Email</h2>
        <p>Drop us an email if you have any queries, we're always happy to hear from you, and value the feedback we get - hopefully positive, but we can take on board your constructive criticisms too: 

        <a href="mailto:hello@acorntrails.run" target="_blank">hello@acorntrails.run</a></p>
    </div>
</div>
{% endblock %}
