[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
beautifulsoup4 = "==4.12.2"
django = "==4.2.2"
django-bootstrap-v5 = "==1.0.11"
django-extensions = "==3.2.3"
django-location-field = "==2.7.1"
et-xmlfile = "==1.1.0"
faker = "==19.1.0"
numpy = "==1.25.1"
openpyxl = "==3.1.2"
pandas = "==2.0.3"
psycopg2-binary = "==2.9.6"
python-dateutil = "==2.8.2"
python-dotenv = "==1.0.0"
pytz = "==2023.3"
six = "==1.16.0"
soupsieve = "==2.4.1"
sqlparse = "==0.4.4"
typing-extensions = "==4.6.3"
tzdata = "==2023.3"
xlsxwriter = "==3.1.2"
django-storages = "*"
boto3 = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.11"
