{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block extra_css %}
<link href="{% static 'races/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <h1>New Race</h1>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Adding jQuery -->
  {{ form.media }} <!-- Adding media files -->

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

  <a href="{% url 'races:list' %}" class="btn btn-secondary mt-3">Cancel</a>
{% endblock %}
