{% extends "base.html" %}

{% block content %}
  <h1>Races{% if season %} for {{ season }}{% endif %}</h1>
  
  {% for race in races %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ race.name }}</h5>
        <p class="card-text">{{ race.description }}</p>
        <a href="{% url 'races:detail' year=race.season_start_year slug=race.slug %}" class="btn btn-primary">Details</a>
      </div>
    </div>
  {% endfor %}
  
  {% if user.is_authenticated %}
    <a href="{% url 'races:new' %}" class="btn btn-primary">Add New Race</a>
  {% endif %}
{% endblock %}
