{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ race.name }}</h5>
        <p class="card-text">{{ race.description }}</p>



        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="race-results-tab" data-bs-toggle="tab" href="#race-results" role="tab" aria-controls="race-results" aria-selected="true">Race Results</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="classification-results-tab" data-bs-toggle="tab" href="#classification-results" role="tab" aria-controls="classification-results" aria-selected="false">Classification Results</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="race-results" role="tabpanel" aria-labelledby="race-results-tab">
                {% include 'races/race_results.html' %}
            </div>
            <div class="tab-pane fade" id="classification-results" role="tabpanel" aria-labelledby="classification-results-tab">
                {% include 'classifications/classification_results.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
