{% load bootstrap5 %}

<!DOCTYPE html>
<html>
    <head>
        <title>South by Five Races</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="/static/css/minty.css">
        {% bootstrap_javascript %}
        {% block extra_css %}
        {% endblock %}
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'races:list' %}">South by Five</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {% if '/races/' in request.path %}active{% endif %}" href="{% url 'races:list' %}">Races</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if '/classifications/' in request.path %}active{% endif %}" href="{% url 'classifications:list' %}">Classifications</a>
                        </li>
                    </ul>                                                                        
                </div>
            </div>
        </nav>
        <!-- End Navigation Bar -->

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
