.nav-link-lg {
    font-size: 1.2rem;
}

.navbar {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    background-color: black !important;
}

.navbar-brand,
.navbar-toggler {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.navbar-light .navbar-brand {
    font-size: 1.8rem;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-item .nav-link.active {
    border-radius: 0.25rem !important;
}

/* King's Park - Red */
.navbar-nav .nav-item:nth-child(1) .nav-link.active {
    background-color: #df1f1e !important;
}

/* Linn Park - Orange */
.navbar-nav .nav-item:nth-child(2) .nav-link.active {
    background-color: #eda51f !important;
}

/* Rouken Glen - Yellow */
.navbar-nav .nav-item:nth-child(3) .nav-link.active {
    background-color: #ece020 !important;
    color: black !important;
}

/* Pollok Park - Green */
.navbar-nav .nav-item:nth-child(4) .nav-link.active {
    background-color: #49ad3c !important;
}

/* Bellahouston Park - Blue */
.navbar-nav .nav-item:nth-child(5) .nav-link.active {
    background-color: #418fcf !important;
}

/* Queen's Park - Purple */
.navbar-nav .nav-item:nth-child(6) .nav-link.active {
    background-color: #68267e !important;
}

.nav-item .nav-link {
    color: black !important;
}

.kings-park-color {
    background-color: #df1f1e !important;
}

.linn-park-color {
    background-color: #eda51f !important;
}

.rouken-glen-color {
    background-color: #ece020 !important;
    color: black !important;
}

.pollok-park-color {
    background-color: #49ad3c !important;
}

.bellahouston-park-color {
    background-color: #418fcf !important;
}

.queens-park-color {
    background-color: #68267e !important;
}

.nav-item .nav-link.active.kings-park-color {
    color: white !important;
}

.nav-item .nav-link.active.linn-park-color {
    color: white !important;
}

.nav-item .nav-link.active.pollok-park-color {
    color: white !important;
}

.nav-item .nav-link.active.bellahouston-park-color {
    color: white !important;
}

.nav-item .nav-link.active.queens-park-color {
    color: white !important;
}

.container {
    padding-top: 2em;
}

.align-middle {
    vertical-align: middle !important;
    text-align: center !important;
}

.navbar-toggler {
    background-image: linear-gradient(to bottom,
            #df1f1e 0%,
            #df1f1e 16.666%,
            #eda51f 16.666%,
            #eda51f 33.333%,
            #ece020 33.333%,
            #ece020 50%,
            #49ad3c 50%,
            #49ad3c 66.666%,
            #418fcf 66.666%,
            #418fcf 83.333%,
            #68267e 83.333%,
            #68267e 100%) !important;
    color: #fff !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    margin-bottom: 2vh;
}

@media (max-width: 767px) {
    .nav-link-lg {
        font-size: 1rem;
    }

    .navbar-light .navbar-brand {
        color: white !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-light .navbar-brand {
        color: white !important;
        /* Visibility fix for tablet devices */
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        background-image: linear-gradient(to bottom,
                #df1f1e 0%,
                #df1f1e 16.666%,
                #eda51f 16.666%,
                #eda51f 33.333%,
                #ece020 33.333%,
                #ece020 50%,
                #49ad3c 50%,
                #49ad3c 66.666%,
                #418fcf 66.666%,
                #418fcf 83.333%,
                #68267e 83.333%,
                #68267e 100%) !important;
        border-radius: 5%;
        padding-left: 0.25em;
        padding-right: 0.25em;
    }
}