{% load static %}
{% load bootstrap5 %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>South by Five Races</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/minty.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% bootstrap_javascript %}
    {% block extra_css %}
    {% endblock %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid px-lg-5">
            <a class="navbar-brand" href="{% url 'home' %}">South by Five</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% for park_name, details in race_navbar.items %}
                    <li class="nav-item">
                        {% if details.available %}
                            <a class="nav-link {% if request.resolver_match.url_name == 'detail' and request.resolver_match.kwargs.slug == details.race.slug %}active{% endif %}"
                               href="{% url 'races:detail' year=details.race.season_start_year slug=details.race.slug %}">
                                {{ park_name }}
                            </a>
                        {% else %}
                            <span data-bs-toggle="tooltip" title="{% if details.race_date %}This race will take place on {{ details.race_date|date:"d M Y" }}{% else %}This race hasn't taken place yet{% endif %}">
                                <a class="nav-link disabled race-tooltip" href="#">
                                    {{ park_name }}
                                </a>
                            </span>
                        {% endif %}
                    </li>
                    {% endfor %}
                    <div class="nav-right-group">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'info:contact' %}">Info</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'races:new' %}">Add Race</a>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="seasonDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Seasons
                            </a>
                            <div class="dropdown-menu" aria-labelledby="seasonDropdown">
                                {% for season_start_year in seasons %}
                                    <a class="dropdown-item" href="{% url 'races:season_races' season=season_start_year %}">{{ season_start_year }}/{{ season_start_year|add:1 }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>    

    <div class="container-fluid px-lg-5 default-spacer">
        {% block content %}
        {% endblock %}
    </div>
    {% block javascript %}
    {% endblock %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Initialize tooltips only for elements with the 'race-tooltip' class
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('.race-tooltip'));
            var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl, {
            customClass: 'custom-tooltip'
        });            });
        });
    </script>    
</body>
</html>
