{% load static %}
{% load bootstrap5 %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>South by Five Races</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/minty.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% bootstrap_javascript %}
    {% block extra_css %}
    {% endblock %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            
            <a class="navbar-brand" href="{% url 'home' %}">South by Five</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% for park_name, details in race_navbar_with_dates.items %}
                        <li class="nav-item">
                            {% if details.race %}
                                <a class="nav-link {% if request.resolver_match.url_name == 'detail' and request.resolver_match.kwargs.slug == details.race.slug %}active{% endif %}" href="{% url 'races:detail' slug=details.race.slug %}">{{ park_name }}</a>
                            {% else %}
                                <a class="nav-link disabled" href="#">{{ park_name }} - {{ details.date|date:"d/m/Y" }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'info:contact' %}">Info</a>
                    </li>
                </ul>                                                                        
            </div>
            
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- {% block javascript %}
    {% endblock %} -->
</body>
</html>
